---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

import TechList from '../components/TechList.astro';

---

<BaseLayout title="Acerca de | Rene Ichin" description="Acerca de Rene Ichin">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de"
				tagline="Gracias por pasar. Lea a continuación para obtener más información sobre mí y mis antecedentes.."
			>
				<img
					width="1553"
					height="873"
					src="/assets/imgDesarrollo.jpeg"
					alt="Rene Ubaldo Ichin Santiz"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sobre mi</h2>
				<div class="content">
					<p>
						Soy un Ingeniero en sistemas con una sólida formación en el desarrollo de aplicaciones web y móviles. 
						Mi enfoque es crear soluciones innovadoras y eficientes que cumplan con los requisitos de los clientes y superen sus expectativas. 
						Con experiencia en una variedad de tecnologías y lenguajes de programación,
						siempre busco nuevas formas de mejorar y actualizar mis habilidades.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Historial Laboral</h2>
				<div class="content">
					<p>
						<b>Grupo PROSUR 11/2020 - 12/2023</b> <br>
						he trabajado como desarrollador en una importante empresa ubicada en mi localidad, que brinda 
						software a distintaas empresas, para la el manejo de ventas, administracion y control segun
						las necesidades del cliente.
					</p>
					<br>
					<p>
						<b>Freelancer 01/2024 - actualmente</b><br>
						Actualmente estoy trabajando independientemente, desarrollando software a clientes que busquen mejorar
						sus procesos, encargandome asi, el poderles ofrecer mis servicios como desarrollador de software, brindando
						asi un trabajo de calidad.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Formacion Academica</h2>
				<div class="content">
					<div class="row">
						<p>
							<b>Ingenieria En sistemas Computacionales
							periodo 08/2016 - 12/2020
						</b>
						</p>
						<p><b>Escuela: Univeridad de los altos de chiapas, mexico</b></p>
					</div>

					<div class="row">
						<p>
							Actualmente con carta pasante, esperando concluir una maestria en Base de datos y desarrollo de software, para asi porder obtener mi titulo.
						</p>
					</div>


				</div>
			</section>
			<section>
				<h2 class="section-title">Conocimientos en Tecnologias</h2>
				<div class="content">
					<p>A continuacion te mencionare las tecnologias que conozco</p>
					<TechList/>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.row{
		width: 100%;
	}
</style>
