---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Como programador full stack, tengo la capacidad de manejar tanto el desarrollo frontend como backend, 
			lo que me permite crear aplicaciones web completas y funcionales..</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="database" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Especialista en DB</h2>
		<p>Como especialista en bases de datos, tengo la capacidad de diseñar, 
			implementar y gestionar sistemas de bases de datos robustos y eficientes.
			<!-- Mi experiencia incluye el manejo de diversos sistemas de gestión de bases de datos, como SQL Server, MySQL y MongoDB. </p> -->
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Colaborador</h2>
		<p>Disfruto trabajar en equipo y compartir conocimientos.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
